@import "tailwindcss";

:root {
  --green-600: #1f9460;
  --green-700: #187a50;
  --green-100: #e8f5ee;
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

@theme {
  --font-sans: var(--font-ibm-plex-sans), "IBM Plex Sans", sans-serif;
  --color-brand: #1f9460;
  --color-brand-dark: #187a50;
  --color-brand-light: #e8f5ee;
}
